@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {
	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}	
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 150px; position: relative; background:url("../images/book_banner.png"); margin-top:70px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
	.main_banner .title .title_iner {color:#fff; font-size: 20px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	.main_banner .title .title1_en {color:#fff; font-size: 20px;}

	/*±³À°¾È³»*/
	.intro_box {padding: 20px 0;}
	.project_title {font-size: 16px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	#check_icon {padding-right:5px;}
	#check_icon img {width:25px;}
	#check_icon2 {padding-right:5px;}
	#check_icon2 img {width:25px;}
	.education {padding: 20px 0;}
	.education_img {overflow:hidden; clear:both; width: 100%; margin-bottom:20px; background:#f5f5f5; padding:15px;}
	.education_img img {width:100%;}
	.education_left {margin-bottom:5%;}
	.education_right {}
	.education_title {margin-bottom: 10px; font-size: 15px; font-weight:500;}
	.education_intro {font-size: 16px; font-weight:900; margin-bottom:10px;}
	.education_introen {font-size: 15px; font-weight:500;}
	.education_introen2 {font-size: 15px;}
	#bolder {color:Red;}
	.lange_education {padding: 20px 0;}
	.technology_education {padding-bottom: 20px;}
	.technology_education_box {overflow:hidden; clear:both; }
	.technology_education_box img {margin-bottom:5%;}
	.technology_education_box img:nth-child(3n) {margin-right:0;}
	.practice_education {padding-bottom: 30px;}
	.practice_education_img {overflow:hidden; clear:both; background:#f5f5f5; padding:15px; margin-bottom:20px;}
	.practice_education_img img { margin-bottom:5%; width:100%;}
	.practice_education_img img:nth-child(5n) {margin-bottom:0;}
	.educational_goals_list {padding: 10px 0; font-size: 15px;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#tp_br {display: none;}
	
}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}	
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 200px; position: relative; background:url("../images/book_banner.png"); margin-top:70px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
	.main_banner .title .title_iner {color:#fff; font-size: 24px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	.main_banner .title .title1_en {color:#fff; font-size: 20px;}

	/*±³À°¾È³»*/
	.intro_box {padding: 40px 0;}
	.project_title {font-size: 18px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	#check_icon {padding-right:10px;}
	#check_icon img {width:29px;}
	#check_icon2 {padding-right:10px;}
	#check_icon2 img {width:29px;}
	.education {padding: 40px 0;}
	.education_img {overflow:hidden; clear:both; width: 100%; margin-bottom:20px; background:#f5f5f5; padding:20px;}
	.education_img img {width:100%;}
	.education_left {float: left; width: 49%; margin-right:2%;}
	.education_right {float: left; width: 49%;}
	.education_title {margin-bottom: 10px; font-size: 16px; font-weight:500;}
	.education_intro {font-size: 18px; font-weight:900; margin-bottom:10px;}
	.education_introen {font-size: 16px; font-weight:500;}
	.education_introen2 {font-size: 16px;}
	#bolder {color:Red;}
	.lange_education {padding: 20px 0;}
	.technology_education {padding-bottom: 20px;}
	.technology_education_box {overflow:hidden; clear:both; }
	.technology_education_box img {float:left; width: 49.5%; margin-right: 1%;}
	.technology_education_box img:nth-child(3n) {margin-right:0;}
	.practice_education {padding-bottom: 40px;}
	.practice_education_img {overflow:hidden; clear:both; background:#f5f5f5; padding:20px; margin-bottom:20px;}
	.practice_education_img img {float:left; width: 49.5%; margin-right: 1%;}
	.practice_education_img img:nth-child(3n) {margin-right: 0; margin-bottom:1%;}
	.practice_education_img img:nth-child(5n) {margin-right: 0; }
	.educational_goals_list {padding: 10px 0; font-size: 16px;}

    
	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}
	.introduce_m {display: none;}
	.title_en2m {display: none;}
}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	

	.inners_wrap {width: 100%; max-width: 1410px; margin: 0 auto; padding: 0 70px;}
	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 300px; position: relative; background:url("../images/book_banner.png"); margin-top:100px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
	.main_banner .title .title_iner {color:#fff; font-size: 34px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	.main_banner .title .title1_en {color:#fff; font-size: 20px;}
	
	/*±³À°¾È³»*/
	.intro_box {padding: 80px 0;}
	.project_title {font-size: 22px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	#check_icon {padding-right:10px;}
	#check_icon img {width:35px;}
	#check_icon2 {padding-right:10px;}
	#check_icon2 img {width:35px;}
	.education {padding: 40px 0;}
	.education_img {overflow:hidden; clear:both; width: 100%; margin-bottom:30px; background:#f5f5f5; padding:30px;}
	.education_img img {width:100%;}
	.education_left {float: left; width: 49%; margin-right:2%;}
	.education_right {float: left; width: 49%;}
	.education_title {margin-bottom: 20px; font-size: 18px; font-weight:500;}
	.education_intro {font-size: 22px; font-weight:900; margin-bottom:10px;}
	.education_introen {font-size: 18px; font-weight:500;}
	.education_introen2 {font-size: 18px;}
	#bolder {color:Red;}
	.lange_education {padding: 40px 0;}
	.technology_education_box {overflow:hidden; clear:both; }
	.technology_education_box img {float:left; width: 49.5%; margin-right: 1%;}
	.technology_education_box img:nth-child(3n) {margin-right:0;}
	.technology_education {padding-bottom: 40px;}
	.practice_education {padding-bottom: 80px;}
	.practice_education_img {overflow:hidden; clear:both; background:#f5f5f5; padding:30px; margin-bottom:30px;}
	.practice_education_img img {float:left; width: 24.25%; margin-right: 1%;}
	.practice_education_img img:nth-child(5n) {margin-right: 0;}
	.educational_goals_list {padding: 10px 0; font-size: 18px;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
	.introduce_m {display: none;}
	.title_en2m {display: none;}
}
/*--------   Desktop(end)   -----*/
