@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {
	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}	
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 150px; position: relative; background:url("../images/cscenter_banner.png"); margin-top:70px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
	.main_banner .title .title_iner {color:#fff; font-size: 20px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	.main_banner .title .title1_en {color:#fff; font-size: 20px;}

	/*introduce*/
	.intro_box {padding: 20px 0 40px 0;}
	.intro_box img {width:100%;}
	.introduce {margin: 0 auto; text-align:Center; padding-bottom:20px; font-size: 18px;font-weight: bold;font-family: 'NotoSansKR-Medium'; color:#444;}
	.intro1 {color:#257bad; font-size: 14px; font-family: 'NotoSansKR-Medium'; margin-bottom:20px;}
	.intro2_title {font-size: 15px; font-family: 'NotoSansKR-Medium'; margin-bottom:10px;}
	.intro2_introduce {font-size: 14px;color:#444; font-family: 'NotoSansKR-Medium';}
	.ready {text-align:center; padding: 150px 0; color:#444; font-size: 14px;}
	/*click*/
	.click {position: relative; width: 100%;}
	.click1 {float: left; width: 49.5%; margin-right: 1%; height: 40px; color: #fff; background: #36528a;  border: 1px solid #ddd;text-align: center; padding-top: 8px; font-size: 14px;}
	.click2 {float: left; width: 49.5%; height: 40px; border: 1px solid #ddd; text-align: center; padding-top: 8px; font-size: 14px;}
	

	/*click_in*/
	.click1img {width: 100%; height: 60vh; background: #fff; padding-top: 180px;}
	.click1img p {text-align: center;}
	/*.click1img {width: 100%;background: ; margin: 30px 0 25vh 0;}*/
	.click1img #question {width: 100%; height: 50px; border-bottom: 1px solid #ddd;}
	.click1img #question1 {width: 100%; height: 50px; border-bottom: 1px solid #ddd;}
	.click1img #question2 {width: 100%; height: 50px; border-bottom: 1px solid #ddd;}
	.click1img #question3 {width: 100%; height: 50px; border-bottom: 1px solid #ddd;}
	.click1img #question4 {width: 100%; height: 50px; border-bottom: 1px solid #ddd;}
	.click1img .left {float: left; width: 93%;}
	.click1img .left span {display: inline-block;}
	.click1img .left p {display: inline-block; padding-top: 14px; font-size: 14px; padding-left:7px; font-family: 'NotoSansKR-Medium';}
	.click1img #q_icon {width: 24px;padding-top: 1px;}
	.click1img .right {float: left; width: 3%; padding-top: 16px;}
	.click1img #answer_in {font-size: 14px;}
	.click1img #answer {display: none; width: 100%; background:#f3f3f3; padding: 20px;}
	.click1img #answer1 {display: none; width: 100%; background:#f3f3f3; padding: 20px;}
	.click1img #answer2 {display: none; width: 100%; background:#f3f3f3; padding: 20px;}
	.click1img #answer3 {display: none; width: 100%; background:#f3f3f3; padding: 20px;}
	.click1img #answer4 {display: none; width: 100%; background:#f3f3f3; padding: 20px;}
	
	/**/
	.click2img {display: none; width: 100%; height: 60vh; background: #fff; padding-top: 180px;}
	.click2img p {text-align: center;}
	.faq {display:none; }
	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#tp_br {display: none;}
	
}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}	
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 200px; position: relative; background:url("../images/cscenter_banner.png"); margin-top:70px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
	.main_banner .title .title_iner {color:#fff; font-size: 24px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	.main_banner .title .title1_en {color:#fff; font-size: 20px;}

	/*introduce*/
	.intro_box {padding: 40px 0 80px 0;}
	.intro_box img {width:100%;}
	.introduce {margin: 0 auto; text-align:Center; padding-bottom:40px; font-size: 20px;font-weight: bold;font-family: 'NotoSansKR-Medium'; color:#444;}
	.intro1 {color:#257bad; font-size: 16px; font-family: 'NotoSansKR-Medium'; margin-bottom:20px;}
	.intro2_title {font-size: 15px; font-family: 'NotoSansKR-Medium'; margin-bottom:10px;}
	.intro2_introduce {font-size: 15px;color:#444; font-family: 'NotoSansKR-Medium';}
	.ready {text-align:center; padding: 100px 0; color:#444; font-size: 16px;}
    /*click*/
	.click {position: relative; width: 100%;}
	.click1 {float: left; width: 49.5%; margin-right: 1%; height: 50px; color: #fff; background: #36528a;  border: 1px solid #ddd;text-align: center; padding-top: 11px; font-size: 16px;}
	.click2 {float: left; width: 49.5%; height: 50px; border: 1px solid #ddd; text-align: center; padding-top: 11px; font-size: 16px;}
	/*click_in*/
	.click1img {width: 100%; height: 60vh; background: #fff; padding-top: 180px;}
	.click1img p {text-align: center;}
	.faq {display:none; }
	/*.click1img {width: 100%;background: ; margin: 40px 0 25vh 0;}*/
	.click1img #question {width: 100%; height: 60px; border-bottom: 1px solid #ddd;}
	.click1img #question1 {width: 100%; height: 60px; border-bottom: 1px solid #ddd;}
	.click1img #question2 {width: 100%; height: 60px; border-bottom: 1px solid #ddd;}
	.click1img #question3 {width: 100%; height: 60px; border-bottom: 1px solid #ddd;}
	.click1img #question4 {width: 100%; height: 60px; border-bottom: 1px solid #ddd;}
	.click1img .left {float: left; width: 97%;}
	.click1img .left span {display: inline-block;}
	.click1img .left p {display: inline-block; padding-top: 19px; font-size: 16px; padding-left:17px; font-family: 'NotoSansKR-Medium';}
	.click1img #q_icon {width: 24px;  margin-left: 20px;}
	.click1img .right {float: left; width: 3%; padding-top: 26px;}
	.click1img #answer {display: none; width: 100%; background:#f3f3f3; padding: 25px;}
	.click1img #answer1 {display: none; width: 100%; background:#f3f3f3; padding: 25px;}
	.click1img #answer2 {display: none; width: 100%; background:#f3f3f3; padding: 25px;}
	.click1img #answer3 {display: none; width: 100%; background:#f3f3f3; padding: 25px;}
	.click1img #answer4 {display: none; width: 100%; background:#f3f3f3; padding: 25px;}
	
	/**/
	.click2img { display: none;  width: 100%; height: 60vh; background: #fff; padding-top: 180px;}
	.click2img p {text-align: center;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}
	.introduce_m {display: none;}
	.title_en2m {display: none;}
}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	

	.inners_wrap {width: 100%; max-width: 1410px; margin: 0 auto; padding: 0 70px;}
	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 300px; position: relative; background:url("../images/cscenter_banner.png"); margin-top:100px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); }
	.main_banner .title .title_iner {color:#fff; font-size: 34px; font-weight: bold;font-family: 'NotoSansKR-Medium';}
	.main_banner .title .title1_en {color:#fff; font-size: 20px;}
	
	/*introduce*/
	.intro_box {padding: 80px 0 0 0;}
	.introduce {margin: 0 auto; text-align:Center; padding-bottom:80px; font-size: 32px;font-weight: bold;font-family: 'NotoSansKR-Medium'; color:#444;}
	.ready {text-align:center; padding: 150px 0 230px 0; color:#444; font-size: 18px;}
	
	/*click*/
	.click {position: relative; width: 100%;}
	.click1 {float: left; width: 49.5%; margin-right: 1%; height: 60px; color: #fff; background: #36528a;  border: 1px solid #ddd;text-align: center; padding-top: 16px; font-size: 18px;}
	.click2 {float: left; width: 49.5%; height: 60px; border: 1px solid #ddd; text-align: center; padding-top: 16px; font-size: 18px;}
	

	/*click_in*/
	.click1img {width: 100%; height: 400px; background: #fff; padding-top: 180px;}
	.click1img p {text-align: center;}
	.faq {display:none; }
	/*.click1img { width: 100%;background: ; margin: 50px 0 100px 0;}*/
	.click1img #question {width: 100%; height: 70px; border-bottom: 1px solid #ddd;}
	.click1img #question1 {width: 100%; height: 70px; border-bottom: 1px solid #ddd;}
	.click1img #question2 {width: 100%; height: 70px; border-bottom: 1px solid #ddd;}
	.click1img #question3 {width: 100%; height: 70px; border-bottom: 1px solid #ddd;}
	.click1img #question4 {width: 100%; height: 70px; border-bottom: 1px solid #ddd;}
	.click1img .left {float: left; width: 97%;}
	.click1img .left span {display: inline-block;}
	.click1img .left p {display: inline-block; padding-top: 19px; font-size: 18px; padding-left:17px; font-family: 'NotoSansKR-Medium';}
	.click1img #q_icon {width: 24px;  margin-left: 20px;}
	.click1img .right {float: left; width: 3%; padding-top: 26px;}
	.click1img #answer {display: none; width: 100%; background:#f3f3f3; padding: 30px;}
	.click1img #answer1 {display: none; width: 100%; background:#f3f3f3; padding: 30px;}
	.click1img #answer2 {display: none; width: 100%; background:#f3f3f3; padding: 30px;}
	.click1img #answer3 {display: none; width: 100%; background:#f3f3f3; padding: 30px;}
	.click1img #answer4 {display: none; width: 100%; background:#f3f3f3; padding: 30px;}
	
	/**/
	.click2img {display: none; width: 100%; height: 400px; background: #fff; padding-top: 180px;}
	.click2img p {text-align: center;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
	.introduce_m {display: none;}
	.title_en2m {display: none;}
}
/*--------   Desktop(end)   -----*/
