@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {
	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}	
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 500px; position: relative; background:url("../images/main_page_moblie.png"); margin-top:70px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:47%; left: 50%;transform: translate(-50%,-50%); text-align:center; width:80%;}
	.main_banner .title .title1 {color:#fff; font-size: 24px; font-weight:900; padding-bottom: 30px;}
	.main_banner .title .title1_en {color:#fff; font-size: 15px;}

/*content*/
	/*문제점*/
	.main_index {text-align:Center;}
	.problem {padding-top: 20px; text-align:center;}
	.problem .title {font-weight: 900; font-size: 16px; margin-bottom:20px;}
	.problem_box {overflow:hidden; position:relative; width:100%;}
	.problem_box img {width:45px;}
	.problem_box1 {float:left; width: 49%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:15px 25px;}
	#problem_box_title {margin-top:15px; font-size: 14px;}
	.problem_box2 {float:left; width: 49%; margin-right: 0; color:#fff;background:#196072; box-sizing:border-box; padding:15px 25px; margin-bottom:2%;}
	.problem_box3 {float:left; width: 49%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:15px 25px; }
	.problem_box4 {float:left; width: 49%; margin-right: 0; color:#fff;background:#196072; box-sizing:border-box; padding:15px 25px; }
	#down_icon {padding: 20px 0; width:30px;}
	.gvec_title {font-size: 16px; font-weight:900;}
	.gvec_title #bolder {color:#3c5b9b;}
	.gvec_title2 {color:#bb1d1d; padding: 20px 0; font-size: 16px; font-weight:900;}

	/*핵심가치 3가지*/
	.core_values {text-align:left;}
	.core_values1 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:20px; margin-bottom:5px;}
	.core_values2 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:20px; margin-bottom:5px;}
	.core_values3 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:20px;}
	.core_number {font-size: 22px; font-weight:900; color:#3c5b9b;}
	.core_title {font-size: 16px; font-weight:900;}
	.core_title_red {color:#c01717;font-size: 16px; font-weight:900;}
	.core_explan {font-size: 15px;}

	/*인력사항*/
	.personnel_information  {font-size: 16px; font-weight:900; padding: 30px 0 20px 0;}
	.personnel_information_box {background:#f7f7f7; box-sizing:border-box; padding:20px; }
	.personnel_information_box .title {font-size: 16px; font-weight:700;}
	.personnel_information_box .title2 {font-size: 16px; font-weight:700; padding: 20px 0 10px 0;}
	.title_en {text-align:left; padding:20px 0px;}
	.round_list {width: 6px; height: 6px; background:#000; border-radius:50%; display:inline-block; margin-right:2%; vertical-align:middle;}
	.master {font-size: 15px; }
	.bolder_red {color:#e11111;}
	.title_en_in {font-size:15px;}
	.personnel_img {text-align:left; position:relative; overflow:hidden;}
	.personnel_img img {float:left; width:49%; margin-right:2%;}
	.personnel_img img:nth-child(2n) {margin-right: 0; margin-bottom:2%;}
	#cambodia_img {width: 100%;}
	.cambodia_title {padding-top: 20px; text-align:left;}
	
	/*매칭 시스템*/
	.matching_system_box img {width:40px;}
	.matching_system_title {font-size: 16px; font-weight:900; padding: 20px 0 20px 0;}
	.matching_system_box {overflow:hidden; position:relative; width:100%; margin-bottom:20px; }
	#matching_system_title {margin-top:10px; font-size: 14px;}
	.matching_system_box1 {float:left; width: 32%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:15px 0; border-radius:15px;}
	.matching_system_box2 {float:left; width: 32%; margin-right: 2%; margin-bottom: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:15px 0; border-radius:15px;}
	.matching_system_box3 {float:left; width: 32%; margin-right: 0%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:15px 0; border-radius:15px;}
	.matching_system_box4 {display:inline-block; width: 32%; margin-right: 1%;color:#fff;background:#ad3e3e; box-sizing:border-box; padding:15px 0; border-radius:15px;}
	.matching_system_box5 {display:inline-block; width: 32%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:15px 0; border-radius:15px;}
	.matching_system_center {text-align:Center; margin: 0 auto;}
	#matching_talk {display:none;}
	#matching_talk_moblie {width:100%;}

	/*문의사항*/
	h3 {font-size: 20px; font-weight:900; padding: 20px 0 20px 0;}
	.contact_title {font-size: 16px; text-align:left; margin-bottom:20px;}
	form {text-align: left; margin-bottom:20px;}
	.form_title {font-size: 16px;}
	input {width:100%; padding:10px 0; margin: 6px 0; box-sizing:border-box; padding:10px; font-size:16px;}
	#question {width:100%; margin: 15px 0;box-sizing:border-box; padding:20px 20px; height:150px;}
	.form_submit {text-align:Center; }
	#submit {width:100%; text-align:center;font-size:16px; border-radius:10px;box-sizing:border-box; padding:10px;}
	input::placeholder {color: #888; font-size: 16px;}


	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#tp_br {display: none;}
	#pc_br {display:none;}
	
}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}	
	.wraper {width: 100%; height:100%;}
	.main_banner {width: 100%; height: 420px; position: relative; background:url("../images/main_page.png"); margin-top:70px; background-size: cover; background-position: center center;}
	.main_banner .title {position: absolute; top:47%; left: 50%;transform: translate(-50%,-50%); text-align:center; width:71%;}
	.main_banner .title .title1 {color:#fff; font-size: 28px; font-weight: 900; padding-bottom: 30px;}
	.main_banner .title .title1_en {color:#fff; font-size: 16px;}
    #moblie_br {display:none;}
	#pc_br {display:none;}
	#matching_talk_moblie {display:none;}

/*content*/
	/*문제점*/
	.main_index {text-align:Center;}
	.problem {padding-top: 40px; text-align:center;}
	.problem .title {font-weight: 900; font-size: 22px; margin-bottom:40px;}
	.problem_box {overflow:hidden; position:relative; width:100%;}
	.problem_box img {width:60px;}
	.problem_box1 {float:left; width: 23.5%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:30px 20px;height:223px;}
	#problem_box_title {margin-top:15px; font-size: 15px;}
	.problem_box2 {float:left; width: 23.5%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:30px 20px;height:223px;}
	.problem_box3 {float:left; width: 23.5%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:30px 20px;height:223px;}
	.problem_box4 {float:left; width: 23.5%; margin-right: 0; color:#fff;background:#196072; box-sizing:border-box; padding:30px 20px; height:223px;}
	#down_icon {padding: 30px 0;}
	.gvec_title {font-size: 22px; font-weight:900;}
	.gvec_title #bolder {color:#3c5b9b;}
	.gvec_title2 {color:#bb1d1d; padding: 30px 0; font-size: 22px; font-weight:900;}

	/*핵심가치 3가지*/
	.core_values {text-align:left;}
	.core_values1 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:30px; margin-bottom:10px;}
	.core_values2 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:30px; margin-bottom:10px;}
	.core_values3 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:30px;}
	.core_number {font-size: 30px; font-weight:900; color:#3c5b9b;}
	.core_title {font-size: 22px; font-weight:900;}
	.core_title_red {color:#c01717;font-size: 22px; font-weight:900;}
	.core_explan {font-size: 16px;}

	/*인력사항*/
	.personnel_information  {font-size: 22px; font-weight:900; padding: 40px 0 20px 0;}
	.personnel_information_box {background:#f7f7f7; box-sizing:border-box; padding:30px; }
	.personnel_information_box .title {font-size: 22px; font-weight:700;}
	.personnel_information_box .title2 {font-size: 22px; font-weight:700; padding: 20px 0 10px 0;}
	.title_en {text-align:left; padding:20px 0px;}
	.round_list {width: 7px; height: 7px; background:#000; border-radius:50%; display:inline-block; margin-right:2%; vertical-align:middle;}
	.master {font-size: 16px;}
	.bolder_red {color:#e11111;}
	.title_en_in {font-size:16px;}
	.personnel_img {text-align:left; position:relative; overflow:hidden;}
	.personnel_img img {float:left; width:32.6%; margin-right:1%;}
	.personnel_img img:nth-child(3n) {margin-right: 0; margin-bottom:1%;}
	#cambodia_img {width: 50%;}
	.cambodia_title {padding-top: 40px; text-align:left;}
	
	/*매칭 시스템*/
	.matching_system_box img {width:40px;}
	.matching_system_title {font-size: 22px; font-weight:900; padding: 40px 0 30px 0;}
	.matching_system_box {overflow:hidden; position:relative; width:100%; margin-bottom:40px; }
	#matching_system_title {margin-top:10px; font-size: 16px;}
	.matching_system_box1 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:25px 0; border-radius:20px;}
	.matching_system_box2 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:25px 0; border-radius:20px;}
	.matching_system_box3 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:25px 0; border-radius:20px;}
	.matching_system_box4 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:25px 0; border-radius:20px;}
	.matching_system_box5 {float:left; width: 18.4%; margin-right: 0; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:25px 0; border-radius:20px;}
	#matching_talk {width:100%;}

	/*문의사항*/
	h3 {font-size: 30px; font-weight:900; padding: 40px 0 20px 0;}
	.contact_title {font-size: 16px; text-align:left; margin-bottom:40px;}
	form {text-align: left; margin-bottom:40px;}
	.form_title {font-size: 16px;}
	input {width:100%; padding:10px 0; margin: 10px 0; box-sizing:border-box; padding:10px; font-size:16px;}
	#question {width:100%; margin: 15px 0;box-sizing:border-box; padding:20px 20px; height:150px;}
	.form_submit {text-align:Center; }
	#submit {width:20%; text-align:center;font-size:16px; font-weight:600; border-radius:10px;box-sizing:border-box; padding:10px; margin-top:20px;}
	input::placeholder {color: #888; font-size: 16px;}


	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}
	.introduce_m {display: none;}
	.title_en2m {display: none;}
}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	

	.inners_wrap {width: 100%; max-width: 1410px; margin: 0 auto; padding: 0 70px;}
	/*-------------------------- Main _ Visual ---------------------------*/
	.main_viusal {width: 100%;}
	.wraper {width: 100%; height:100%; text-align:Center;}
	.main_banner {width: 100%; height: 767px; position: relative; background:url("../images/main_page.png"); margin-top:100px; background-position: center center;}
	.main_banner .title {position: absolute; top:47%; left: 50%;transform: translate(-50%,-50%); width:100%;}
	.main_banner .title .title1 {color:#fff; font-size: 50px; font-weight:900; padding-bottom: 30px;}
	.main_banner .title .title1_en {color:#fff; font-size: 28px;}
	#moblie_br {display:none;}
	#matching_talk_moblie {display:none;}

	/*content*/
	/*문제점*/
	.problem {padding-top: 80px;}
	.problem .title {font-weight: 900; font-size: 40px; margin-bottom:80px;}
	.problem_box {overflow:hidden; position:relative; width:100%;}
	.problem_box1 {float:left; width: 23.5%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:45px 0;}
	#problem_box_title {margin-top:10px; font-size: 20px;}
	.problem_box2 {float:left; width: 23.5%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:45px 0;}
	.problem_box3 {float:left; width: 23.5%; margin-right: 2%; color:#fff;background:#196072; box-sizing:border-box; padding:45px 0;}
	.problem_box4 {float:left; width: 23.5%; margin-right: 0; color:#fff;background:#196072; box-sizing:border-box; padding:45px 0;}
	#down_icon {padding: 70px 0;}
	.gvec_title {font-size: 40px; font-weight:900;}
	.gvec_title #bolder {color:#3c5b9b;}
	.gvec_title2 {color:#bb1d1d; padding: 70px 0; font-size: 35px; font-weight:900;}

	/*핵심가치 3가지*/
	.core_values {text-align:left;}
	.core_values1 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:70px; margin-bottom:30px;}
	.core_values2 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:70px; margin-bottom:30px;}
	.core_values3 {width:100%; background:#f7f7f7; box-sizing:border-box; padding:70px;}
	.core_number {font-size: 70px; font-weight:900; color:#3c5b9b;}
	.core_title {font-size: 32px; font-weight:900;}
	.core_title_red {color:#c01717;font-size: 32px; font-weight:900;}
	.core_explan {font-size: 22px;}

	/*인력사항*/
	.personnel_information  {font-size: 35px; font-weight:900; padding: 80px 0 40px 0;}
	.personnel_information_box {background:#f7f7f7; box-sizing:border-box; padding:70px; }
	.personnel_information_box .title {font-size: 28px; font-weight:700;}
	.personnel_information_box .title2 {font-size: 28px; font-weight:700; padding: 80px 0 30px 0;}
	.title_en {text-align:left; padding:50px 0px;}
	.round_list {width: 10px; height: 10px; background:#000; border-radius:50%; display:inline-block; margin-right:2%; vertical-align:middle;}
	.master {font-size: 26px; }
	.bolder_red {color:#e11111;}
	.title_en_in {font-size:24px;}
	.personnel_img {text-align:left; position:relative; overflow:hidden;}
	.personnel_img img {float:left; width:32.6%; margin-right:1%;}
	.personnel_img img:nth-child(3n) {margin-right: 0; margin-bottom:1%;}
	#cambodia_img {width: 32.6%;}
	.cambodia_title {padding-top: 40px; text-align:left;}
	
	/*매칭 시스템*/
	.matching_system_title {font-size: 35px; font-weight:900; padding: 80px 0 60px 0;}
	.matching_system_box {overflow:hidden; position:relative; width:100%; margin-bottom:100px; }
	#matching_system_title {margin-top:10px; font-size: 20px;}
	.matching_system_box1 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:45px 0; border-radius:30px;}
	.matching_system_box2 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:45px 0; border-radius:30px;}
	.matching_system_box3 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:45px 0; border-radius:30px;}
	.matching_system_box4 {float:left; width: 18.4%; margin-right: 2%; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:45px 0; border-radius:30px;}
	.matching_system_box5 {float:left; width: 18.4%; margin-right: 0; color:#fff;background:#ad3e3e; box-sizing:border-box; padding:45px 0; border-radius:30px;}
	#matching_talk {}

	/*문의사항*/
	h3 {font-size: 50px; font-weight:900; padding: 80px 0 60px 0;}
	.contact_title {font-size: 24px; text-align:left; margin-bottom:40px;}
	form {text-align: left; margin-bottom:100px;}
	.form_title {font-size: 24px;}
	input {width:100%; padding:20px 0; margin: 15px 0; box-sizing:border-box; padding:20px; font-size:18px;}
	#question {width:100%; margin: 15px 0;box-sizing:border-box; padding:20px 20px; height:150px;}
	.form_submit {text-align:Center; }
	#submit {width:20%; text-align:center;font-size:18px; font-weight:600; border-radius:20px;box-sizing:border-box; padding:20px; margin-top:30px;}
	input::placeholder {color: #888; font-size: 18px;}


	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
	.introduce_m {display: none;}
	.title_en2m {display: none;}
}
/*--------   Desktop(end)   -----*/
